<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form  (ngSubmit)="OnSubmit(refForm)" #refForm="ngForm">
        <div>
         </div>
        <div id="user-data" ngModelGroup="userData"
        #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" (click)="suggestName()" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" [ngModel]='defaultMail' name="email" required email
             #email="ngModel">
             <p class="alert alert-danger"  *ngIf="!userData.valid && userData.touched">Enter valid Information </p>
             <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>

          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel] ="defaultQuestion" name="secret" required>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="answer" rows="3" class="form-control" [(ngModel)]="ans"></textarea>
        <p>Your pet name is {{ ans }}</p>
        </div>
        <div class="custom-control custom-radio" *ngFor="let gen of gender">
          <input
          type="radio"
          class="custom-control-input"
          name="gender"
          ngModel
          required
          [value]="gen">
          {{ gen }}
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!refForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <table border="2px">
      <tr>
        <td>USername: {{user.username}} </td>
        <td>Email: {{user.email}} </td>
        <td>USername: {{user.answer}} </td>
        <td>USername: {{user.gender}} </td>
        <td>USername: {{user.secret}} </td>
      </tr>
    </table>
  </div>
</div>
